/* react-quill custom css */
.ql-toolbar {
  width: 100%;
  padding: 15px 0 15px 0 !important;
  padding-left: calc((100% - 1200px) / 2) !important;
  display: flex;
  align-items: center;
  border: none !important;
  border-bottom: 1px solid #efefef !important;
  box-shadow: 0 3px 5px rgba(209, 209, 209, 0.1);
}
.quill {
  flex-grow: 1;
}
.ql-editor {
  -ms-overflow-style: none;
  overflow-y: scroll !important;
  font-family: 'noto-sans-kr', sans-serif;
}
.ql-editor::-webkit-scrollbar {
  width: 7px;
}
.ql-editor::-webkit-scrollbar-track {
  display: none;
}
.ql-editor::-webkit-scrollbar-thumb {
  background-color: rgba(99, 99, 99, 0.5);
  border-radius: 5px;
}
.ql-editor::-webkit-scrollbar-button {
  display: none;
}
.ql-editor::placeholder {
  color: red !important;
}
.ql-container {
  border: none !important;
  margin: 0 auto !important;
  width: 1200px !important;
  height: calc(300px) !important;
}
.ql-category {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  outline: none;
}
.ql-category option {
  outline: none !important;
  background-color: #f1f1f1 !important;
}
.ql-searchbook {
  width: 90px !important;
  height: 15px !important;
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  border-left: 1px solid #666666 !important;
  border-right: 1px solid #666666 !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  font-size: 16px !important;
}
.detailBook {
  background-color: #f8f8f8;
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.imageWrapper {
  width: fit-content;
  height: fit-content;
}
.imageWrapper .bookImage {
  width: 150px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.infoWrapper {
  color: #202020;
  font-size: 16px;
  height: fit-content;
}
.bookTitle {
  color: #333;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

/* font size 속성 */
/* 트러블 이슈-react quill new가 select의 option 설정 값 변경은 안 해서 개발자 도구로 css로 하나 하나 접근해서 options의 값을 변경  */
.ql-snow .ql-picker.ql-size .ql-picker-label::before {
  content: attr(data-value);
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='10px']::before {
  content: '10px' !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='12px']::before {
  content: '12px' !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='14px']::before {
  content: '14px' !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='16px']::before {
  content: '16px' !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='18px']::before {
  content: '18px' !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='20px']::before {
  content: '20px' !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='24px']::before {
  content: '24px' !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='32px']::before {
  content: '32px' !important;
}
